header {

font-family: 'Roboto' , sans-serif;


}

body {
  
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;


  
}

div.body {

  margin-top: 58px;
  text-align: left;
  position: static;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;

}

img.about {

height: auto;
width: 100%;
padding-top: 5px;
padding-bottom: 5px;
display: block;
max-width: viewport;

}

img.sign {

height: auto;
width: 25%;
min-width: 100px;
max-width: 500px;
padding: 5px;
display: block;


}

ul.social {

list-style-type: none;


}

#myDIV {
width: 50px;
height: 50px;
display: none;
margin-left: 40px;
}


img.snap {
width: 150px;
height: 150px;
}


div.blogpostlisting {

max-width: 300px;


}

div.blogpost {
  max-width: 100%;
}


p.blogpostlistingdate {

font-style: italic;

}



a.blogpostlisting:link {
  text-decoration: none;
  color: black;
  
}

a.blogpostlisting:visited {
  text-decoration: none;
  color: black;

}

a.blogpostlisting:hover {
  text-decoration: underline;
}

a.blogpostlisting:active {
  text-decoration: underline;

}


img.blog {


  width: 100%;
  height: auto;
  max-width: viewport;
  display: block;

}

p.italic {

  font-style: italic;
  }
  
p.bold {
  
  font-weight: bold;
  
  
  }

p.indent {

  text-indent: 2em;


}


div.cleveland {

text-align: center;
position: static;



}


h3.cleveland {

color: rgb(36, 34, 80);
  font-weight: bold;


}

/*  the following are for the cleveland guide */

h4.cleveland {
  color: darkgrey;
  font-weight: bold;

}

p.cleveland {

color: darkgray;
position: static;


}

/* the following is for the cleveland guide - it is to overlay text on an image */

.container {

  position: relative;
  text-align: center;
  color: rgb(36, 34, 80);
  font-size: 5vw;
  font-weight: bold;



}

/* the following is for the cleveland guide - it is to overlay text on an image */

.centered {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);


}

/* this is for the story */

.right {
  position: absolute;
  top: 50%;
  right: 30%;
  color: rgb(36, 34, 80);
  font-size: 8pt;
  font-weight: normal;
  direction: block;

}

/* this is for the story */

.left {
  position: absolute;
  top: 50%;
  left: 30%;
  color: rgb(36, 34, 80);
  font-size: 8pt;
  font-weight: normal;
}




/* this is the code for the blog back button............... */

img.back {

  height: 30px;
  max-height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;


}




img.story {

  height: auto;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  max-width: viewport;
  
  }


/* overlay css is below */

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(163, 163, 163,0.4); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


#overlayimage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  padding: 5px;
}


/* this for the overlay text thing */

#overlaytext{
  position: absolute;
  text-align: center;
  background-color: lightgray;
  color: white;
  
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  padding: 0px;
}


img.storyimage {
  height: 90vw;
  max-height: 300px;
    

}

/* this for the overlay testing */

img.pearimage {

  height: 10vw;
  max-height: 100px;
  position: absolute;
  transform: translate(-50%,-50%);
}

/* here is a comment
/* here is another comment
/* here is another comment
/* here is another comment to trigger another build
/* here is another comment to trigger another build
/* here is another comment to trigger another build
/* here is another comment to trigger another build
/* here is another comment to trigger another build


