--- 
--- 


// begin content

body {
    font-family: monospace;
  }
  
  .contacts {
    background-color: lavender;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 30rem;
  }
  
  .contacts__title {
    padding-bottom: 1rem;
    text-align: center;
  }
  
  .contacts__subtitle {
    background-color: white;
    padding: 0.5rem;
    position: sticky;
    top: 0;
  }
  
  .contacts__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .contacts__item:not(:last-child) {
    margin-bottom: 1rem;
  }


  div.header {
    align-content: center;
    background: #8cafb4;
    border-bottom: 5px;
    border-color: black;
    position: fixed;
    width: 100%;
    top: 0;

}



h1.title {

    text-align: center;
    margin: 20px;

}

