body {
    font-family: 'Yeseva One', cursive;
    background-color: rgb(231 223 208);
    
    padding: 5px;
}

h1 {
    text-align: left;
    margin: 10px;
    margin-top: 40vh;
    margin-bottom: 40vh;
}

h4 {
    font-family: 'Alata', sans-serif;
    
    margin: 10px;
    font-weight: lighter;
    text-align: center;
}

  div.heading {
      padding : 40px;
      overflow:hidden;
      margin: 0px auto;
      width: 50vw;
      font-weight: 600;
      line-height: 0.8;
      font-size: 60px;
      text-align: left;
      font-size: 3rem;
      color: #4b4b4b;
      font-family: 'Yeseva One';
  }
  