body {
    font-family: 'Yeseva One', cursive;
    background-color: rgb(231 223 208);
}

h1 {
    text-align: center;
    margin: 10px;
}

h4 {
    font-family: 'Alata', sans-serif;
    font-style: italic;
    margin: 10px;
    font-weight: lighter;
    text-align: center;
}